.friend img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.friend{
    margin-top: 10px;
    box-shadow: 0px 0px 4px 1px rebeccapurple;
}

.selectedPage{
    font-weight: bold;
    cursor: default;
    margin: 4px;
    background-color:rgba(0, 0, 0, 0.178);
    border-radius: 5px;
}

.page{
    cursor: pointer;
    margin: 4px;
}
.pages{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.page:hover{
    text-decoration: underline;
}