.info{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7em 1fr 1fr;
    grid-template-areas: 
    " avatar avatar description"
}
.avatar img{
    margin-left: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
  }
  .description{
    grid-area: description;
    margin-top: 28px;
  }  
  .avatar{
    grid-area: avatar;
  }

  .uploadPhoto{
    border: 0;
    background: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.411);
  }

  .uploadPhoto:hover{
    text-decoration: underline;
    cursor: pointer;
  }