.App{
  display: grid;
  grid-template-rows: 60px 3fr 50px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0.5em;
  grid-template-areas:
  "header header"
  "nav content"
  "footer footer";
  background-color:rgb(147,149,151);
  color: black;
}

.Header{
  border: thick double #000000;
  grid-area: header;
  background-color:rgb(245, 223, 77);
}
.Content{
  grid-area: content;
  background-color:rgb(245, 223, 77);
}
.Nav{
  grid-area: nav;
  background-color:rgb(245, 223, 77);
  text-align: center;
}
.Footer{
  grid-area: footer;
  background-color:rgb(245, 223, 77);
  text-align: center;
}

/*img*/
.Header img{
  height: 100%;
}
.ContentHead img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.Avatar img{
  margin-left: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
}
.MyPost img{
  margin-left: 5%;
  border: 2.5mm ridge rgba(255, 0, 0, 0.315);
}

/*Content*/
.PostContent {
  display: grid;
  grid-template-rows: 90px 1em 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "avatar description"
  "postName postName"
  "myPost myPost";
}
.Avatar{
  grid-area: avatar;
}
.Description{
  grid-area: description;
}
.PostName{
  grid-area: postName;
}
.MyPost {
  grid-area: myPost; 
}